.container {
  display: grid;
  grid-template-columns: 130px 1fr; /* Sidebar e conteúdo principal */
  grid-template-rows: auto 1fr; /* Header e Main */
  height: 100vh; /* Preenche toda a altura da janela */
}

.sidebar {
  grid-column: 1 / 2; /* Sidebar ocupa a primeira coluna */
  grid-row: 1 / 3; /* Ocupa todo o espaço vertical */
  background-color: #2c6e49;
  color: white;
  padding: 10px;
}

.mainContent {
  grid-column: 2 / 3; /* Segunda coluna */
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.main {
  padding-left: 20px;
  padding-top: 0px;
  background-color: #f4f4f9;
  flex-grow: 1;
}
