.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e; /* Fundo escuro */
  text-align: center;
  color: #f5f5f5; /* Texto claro */
}

.title {
  font-size: 2.5rem;
  color: #ffffff; /* Cor branca para o título */
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #cccccc; /* Cor cinza claro para o subtítulo */
  margin-bottom: 2rem;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 2rem;
}

.description {
  font-size: 1rem;
  color: #aaaaaa; /* Cor cinza suave para a descrição */
  max-width: 600px;
  line-height: 1.5; /* Adicionado para melhor legibilidade */
}